body {
  margin: 0;
}

#display {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#advertisement {
  width: 100%;
  height: 100%;
}

#advertisement video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#donationOverlay {
  position: absolute;
  background-color: #dddddd;
  font-size: 4rem;
  border-radius: 20px;
  box-shadow: 2px 4px 8px #dddddd;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%, -50%);
}
