body {
  margin: 0;
}

h1 {
  color: white;
}

#display {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#advertisement {
  width: 100%;
  height: 100%;
}

#advertisement video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#donationOverlay {
  position: absolute;
  padding: 2rem;
  background-color: #6472b5;
  color: #ffffff;
  font-size: 3rem;
  font-family: "Novecento Sans", Sans-serif;
  border-radius: 20px;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}

#donationOverlay.visible {
  opacity: 1;

  transform: translate(0, 10%);
}

#fileUpload {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#thanksOverlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  text-align: center;

  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}

#thanksOverlay.visible {
  opacity: 1;

  transform: translate(-50%, -50%);
}

#thanksOverlay img {
  max-width: 60vw;
  max-height: 60vw;
}


