:root {
  --fishWidth: 20rem;
  --fishHeight: 16rem;
  --fishBorderWidth: 1rem;
}


body {
  margin: 0;
}

h1 {
  color: white;
  font-size: 24px;
}

#display {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#advertisement {
  width: 100%;
  height: 100%;
}

#advertisement video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#donationOverlay {
  position: absolute;
  padding: 2rem;
  background-color: #6472b5;
  color: #ffffff;
  font-size: 3rem;
  font-family: "Novecento Sans", Sans-serif;
  border-radius: 20px;
  left: 50%;
  bottom: 5%;

  transform: translate(-50%, 20px);

  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}

#donationOverlay.visible {
  opacity: 1;
  transform: translate(-50%, 0);
}

#fileUpload {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#thanksOverlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  text-align: center;

  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}

#thanksOverlay.visible {
  opacity: 1;
  transform: translate(-50%, -50%);
}

#thanksOverlay img {
  max-width: 60vw;
  max-height: 60vw;
}

.fishWrapper {
  width: calc(var(--fishWidth) + var(--fishBorderWidth));
  height: calc(var(--fishHeight) + var(--fishBorderWidth));

  position: absolute;
  left: 50%;
  top: 50%;

  transition-timing-function: cubic-bezier(0.05, 0.5, 0.95, 0.5);
}

.fishWrapper * {
  position: absolute;
}

.fish {
  width: var(--fishWidth);
  height: var(--fishHeight);

  left: calc(var(--fishWidth) * -0.5);
  top: calc(var(--fishHeight) * -0.5);

  background-image: url("orrca.png");
  background-size: contain;

  background-position: center;

  mask-image: url("ButterflyFish.svg");
  mask-repeat: no-repeat;
  mask-position: 0 0;
  mask-size: 100% 100%;
}

.fishBorder {
  width: calc(var(--fishWidth) + var(--fishBorderWidth));
  height: calc(var(--fishHeight) + var(--fishBorderWidth));

  left: calc((var(--fishWidth) + var(--fishBorderWidth)) * -0.5);
  top: calc((var(--fishHeight) + var(--fishBorderWidth)) * -0.5);

  background-color: black;

  mask-image: url("ButterflyFish.svg");
  mask-repeat: no-repeat;
  mask-position: 0 0;
  mask-size: 100% 100%;
}

#inputPage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

#qrOverlay {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 999;
}

#qrOverlay img {
  max-width: 20vw;
  max-height: 20vw;
}
